{% extends '::base.html.twig' %}

{% block body %}

     <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a href="{{ path('accreditamento_show', {'id': entity.accreditamento.id }) }}">
                            <span class="icon-backward icon-white"></span> Back to Accreditamento
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('questionarioecm_edit', { 'id': entity.id }) }}">
                            <span class="icon-edit icon-white"></span> Edit
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('domanda_new', { 'questionarioecm_id': entity.id }) }}">
                            <span class="icon-plus-sign icon-white"></span> Crea domanda
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#myModal"> <span class="icon-trash icon-white"></span> Cancella</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal hide" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Attenzione stai eliminando un questionario</h3>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Annulla</a>
            
          <form action="{{ path('questionarioecm_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-primary">Elimina</button>
            </form>
        </div>
    </div>

    <h1>QuestionarioEcm</h1>

    <table class="table table-bordered table-condensed table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ entity.descrizione }}</td>
            </tr>
            <tr>
                <th>Data_inizio_compilazione</th>
                <td>{{ entity.datainiziocompilazione|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Data_fine_compilazione</th>
                <td>{{ entity.datafinecompilazione|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Percentuale_risposte_esatte</th>
                <td>{{ entity.percentualerisposteesatte }}</td>
            </tr>
            <tr>
                <th>Numero_tentativi_compilazione</th>
                <td>{{ entity.numerotentativicompilazione }}</td>
            </tr>
            <tr>
                <th>Accreditamento_id</th>
                <td>{{ entity.accreditamentoid }}</td>
            </tr>
        </tbody>
    </table>
{%endblock%}