<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {# <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrapv2.css') }}"> #}
        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrap.css') }}">
        
         {% block jquery %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        {% endblock %}
    
    </head>
    <body>

        
        {% block topmenu %}
        {% endblock %}
        
        <div class="container" style="border:0px solid red;width:900px;background-image: url(/resource/img/sfondo_top.jpg); background-repeat:no-repeat">
        
        <div class="container" style="width:400px;height: 60px">
            {% if app.session.hasFlash('notice') %}
                <div class="alert">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
        </div>

         
            
            
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4" style="width:120px;border:0px solid red;">
                           
                        {% block sidebar %}
                            <h3>Sidebar</h3>
                            <div class="well">
                                Ciao mondo!
                            </div>
                        {% endblock %}
                    </div>
                    <div class="span8" style="width:710px;border:0px solid blue;">
                        {% block body %}
                            <h1>Wellcome to Accreditamenti!</h1>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}

        <!-- Some code -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/ruiantwitterbootstrap/js/bootstrapv2.js') }}"></script>

    </body>
</html>
