<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrapv2.css') }}">
   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>


        <script>
            $(document).ready(function(){
                console.log('qwertyuiop');
            });
        </script>


    </head>
    <body>



        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        {% block menu %}{% endblock %}
                        {% if app.user %}
                            <li>
                                <a href="{{ path('congresso_new') }}" id="link-crea-nuovo-congresso">
                                    <span class="icon-plus icon-white"></span>nuovo congresso!
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('congresso') }}">Congressi</a>
                            </li>

                            <li>
                                <a href="{{ path('accreditamento') }}">Accreditamenti</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">logout ({{ app.user }})</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {% if app.session.hasFlash('notice') %}
                <div class="alert">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
        </div>

        <div class="container">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                        {% block sidebar %}
                            <h3>Sidebar</h3>
                            <div class="well">
                                Ciao mondo!
                            </div>
                        {% endblock %}
                    </div>
                    <div class="span10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>


  





        {% block javascripts %}{% endblock %}

        <!-- Some code -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/ruiantwitterbootstrap/js/bootstrapv2.js') }}"></script>

    </body>
</html>
