<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>My first styled page</title>
</head>

<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>



<table border="0" bordercolor="#FF00" cellpadding="0" cellspacing="0" height="400">
    <tr><td height="67">
            <div align="center" style="color:#000000;font-weight: bold;font-size: 75px;font-family: 'Times New Roman',Georgia,Serif;">
        {{ anagrafica.getNome}} {{ anagrafica.getCognome}}
        </div>
    </td></tr>
    
    <tr><td height="10">


            <div align="center" style="color:#000000;font-size: 35px;font-family: 'Times New Roman',Georgia,Serif;">
               nato/a a  {{ anagrafica.getLuogoNascita }}
            </div>

    </td></tr>
    <tr><td height="20" style="text-align: center; color:#000000;font-size: 35px;font-family: 'Times New Roman',Georgia,Serif;">
                  il {{ anagrafica.dataNascita|date('d/m/Y') }}
            
        
        
        
        
        </td>
    </tr>
    <tr><td height="2" style="text-align: center; color:#000000;font-size: 35px;font-family: 'Times New Roman',Georgia,Serif;">
                                             iscritto all’Ordine/Collegio/ASS. prof.li  num {{ anagrafica.getOrdineNumero }} di {{ anagrafica.getOrdineCitta }}</td></tr></table>
</body>
</html>
