{% extends '::base.html.twig' %}


{% block body %}

     <h2>Compila il questionario ECM</h2>

    <ul>
    {% for domanda in domande %}
        <li> {{ domanda.descrizione }}
        <ul>
            {% for risposta in domanda.getRisposta %}
                <li>
                   <a href="{{ path('risposta_ecm_edit', {'id': risposta.id }) }}">
                    <span class="icon-edit"></span></a>
                       {% if risposta.aperta %}
                           <span class="icon-folder-open"></span>
                       {% else %}
                           <span class="icon-folder-close"></span>
                       {% endif %}
                       {% if risposta.vero|length > 0 %}
                            <span class="label label-warning"> {{ risposta.descrizione }} </span>
                       {% else %}
                            {{ risposta.descrizione }} 
                       {% endif %}
                   </li>
            {% endfor %}
            <li>
                <a href="{{ path('risposta_ecm_new', {'domanda_id': domanda.id}) }}">
                    <span class="icon-plus-sign"></span> <em>aggiungi risposta</em>
                </a>
            </li>
        </ul>
        </li><br>
    {% endfor %}
    </ul>

{%endblock%}