{% extends '::frontEnd/base.html.twig' %}







{% block body %}

<h1>Anagrafica</h1>
I dati di seguito richiesti verranno utilizzati solo e soltanto per fini relativi <br>all’accreditamento ECM. 
La preghiamo gentilmente di compilare tutti i campi. <br><br>
Dopo aver cliccato su “continua” si aprirà la pagina dove potrà compilare il <br>questionario ECM. Per 
accedervi è necessario compilare i dati in questa pagina. <br>
Per qualsiasi necessità o informazione, le ricordiamo che la segreteria organizzativa è <br>a sua 
completa disposizione.<br> Può scrivere a f.prayer@aimgroup.eu o chiamare il numero 055.2338823.  
<br><br>

 <h3>Dati Personali</h3> 

<form action="{{ path('anagrafica_create', {'accreditamento_id': accreditamento_id}) }}" method="post" {{ form_enctype(form) }}>
    {# form_widget(form) #}
        
     {{ form_errors(form) }}

        <div style="display: none">
            {{ form_label(form.tipo_iscrizione) }}
            {{ form_errors(form.tipo_iscrizione) }}
            {{ form_widget(form.tipo_iscrizione) }}
        </div>    
        
           <div style="display: none">
            {{ form_label(form.accreditamento) }}
            {{ form_errors(form.accreditamento) }}
            {{ form_widget(form.accreditamento) }}
        </div>  
        
        <div>
            {{ form_label(form.nome) }}
            {{ form_errors(form.nome) }}
            {{ form_widget(form.nome) }}
        </div>  
        
        <div>
            {{ form_label(form.cognome) }}
            {{ form_errors(form.cognome) }}
            {{ form_widget(form.cognome) }}
        </div>  
                
         <div>
            {{ form_label(form.luogo_nascita,  'Nato a') }}
            {{ form_errors(form.luogo_nascita) }}
            {{ form_widget(form.luogo_nascita) }}
        </div> 
        
         <div>
            {{ form_label(form.data_nascita,'il') }}
            {{ form_errors(form.data_nascita) }}
            {{ form_widget(form.data_nascita) }}
        </div> 
         <div>
            {{ form_label(form.codice_fiscale,'Codice fiscale') }}
            {{ form_errors(form.codice_fiscale) }}
            {{ form_widget(form.codice_fiscale) }}
        </div>
        
        
         <div>
            {{ form_label(form.indirizzo_citta, 'Residente in') }}
            {{ form_errors(form.indirizzo_citta) }}
            {{ form_widget(form.indirizzo_citta) }}
        </div> 
        
         <div>
            {{ form_label(form.indirizzo_provincia, 'Provincia') }}
            {{ form_errors(form.indirizzo_provincia) }}
            {{ form_widget(form.indirizzo_provincia) }}
        </div> 
        
        <div>
            {{ form_label(form.indirizzo_cap, 'Cap') }}
            {{ form_errors(form.indirizzo_cap) }}
            {{ form_widget(form.indirizzo_cap) }}
        </div> 
        
         <div>
            {{ form_label(form.indirizzo_via, 'Via') }}
            {{ form_errors(form.indirizzo_via) }}
            {{ form_widget(form.indirizzo_via) }}
        </div> 
        
        
         <div>
            {{ form_label(form.indirizzo_numero_civico, 'N° civico') }}
            {{ form_errors(form.indirizzo_numero_civico) }}
            {{ form_widget(form.indirizzo_numero_civico) }}
        </div> 
        
        
        <div>
            {{ form_label(form.telefono) }}
            {{ form_errors(form.telefono) }}
            {{ form_widget(form.telefono) }}
        </div> 
        
        <div>
            {{ form_label(form.cellulare) }}
            {{ form_errors(form.cellulare) }}
            {{ form_widget(form.cellulare) }}
        </div> 
           <div>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div> 
        
        
          <div>
            {{ form_label(form.professione) }}
            {{ form_errors(form.professione) }}
            {{ form_widget(form.professione) }}
        </div> 
        
          <div>
            {{ form_label(form.disciplina) }}
            {{ form_errors(form.disciplina) }}
            {{ form_widget(form.disciplina) }}
        </div> 
            <div>
            {{ form_label(form.ordine_numero,'Nr. Iscrizione Ordine/Collegio Ass. prof.le') }}
            {{ form_errors(form.ordine_numero) }}
            {{ form_widget(form.ordine_numero) }}
        </div> 
          <div>
            {{ form_label(form.ordine_citta,'di') }}
            {{ form_errors(form.ordine_citta) }}
            {{ form_widget(form.ordine_citta) }}
        </div> 
        
            <div>
            {{ form_label(form.qualifica) }}
            {{ form_errors(form.qualifica) }}
            {{ form_widget(form.qualifica) }}
        </div> 
        
        <br>
        <h3>Dati Ente di appartenenza</h3> 
        <div>
            {{ form_label(form.ente_appartenenza) }}
            {{ form_errors(form.ente_appartenenza) }}
            {{ form_widget(form.ente_appartenenza) }}
        </div> 
        
        
          <div>
            {{ form_label(form.ente_citta,'Città') }}
            {{ form_errors(form.ente_citta) }}
            {{ form_widget(form.ente_citta) }}
        </div>
        
          <div>
            {{ form_label(form.ente_provincia,'Provincia') }}
            {{ form_errors(form.ente_provincia) }}
            {{ form_widget(form.ente_provincia) }}
        </div>
        
          <div>
            {{ form_label(form.ente_cap,'cap') }}
            {{ form_errors(form.ente_cap) }}
            {{ form_widget(form.ente_cap) }}
        </div>
        
          <div>
            {{ form_label(form.ente_via,'Via') }}
            {{ form_errors(form.ente_via) }}
            {{ form_widget(form.ente_via) }}
        </div>
        
          <div>
            {{ form_label(form.ente_numero_civico,'N° civico') }}
            {{ form_errors(form.ente_numero_civico) }}
            {{ form_widget(form.ente_numero_civico) }}
        </div>
        
        
         <div>
            {{ form_label(form.ente_telefono) }}
            {{ form_errors(form.ente_telefono) }} 
            {{ form_widget(form.ente_telefono) }}
        </div>
          <br>
        <h3>Dati relativi congresso</h3>
        <br>
        <h3>Reclutamento diretto da parte di azienda sponsor</h3>
        <br>
        La Commissione Nazionale per la Formazione Continua intende per “reclutamento” il rapporto diretto tra lo sponsor e il partecipante all’evento formativo che si traduce nell’invito, da parte dello sponsor al professionista sanitario, a partecipare come discente ad un evento con crediti ECM.
 <br>
 

<B>AUTOCERTIFICAZIONE</B>
 <br>
(ART. 46 D.P.R. 445 del 28.12.2000)
 <br>
a conoscenza di quanto prescritto dall’art. 76 del D.P.R. 445 del 28.12.2000 sulla responsabilità penale cui può andare incontro in caso di dichiarazioni mendaci, sotto la propria personale responsabilità

  <br>

DICHIARA
<div>
            {{ form_label(form.dichiara_sponsor_azienda,'Di essere stato Invitato da') }}
            {{ form_errors(form.dichiara_sponsor_azienda) }}
            {{ form_widget(form.dichiara_sponsor_azienda) }}
        </div>

    <div>
            {{ form_label(form.dichiara_autorizzazione_struttura,'Di aver ottenuto, se necessario, regolare autorizzazione a partecipare all\’evento di cui sopra dalla Struttura dove svolge la propria attività professionale') }}
            {{ form_errors(form.dichiara_autorizzazione_struttura) }}
            {{ form_widget(form.dichiara_autorizzazione_struttura) }}
        </div>    
        
        
        <div>
            {{ form_label(form.dichiara_informato_dal_provider,'Di essere stato informato dal Provider del limite massimo di 1/3 (50 crediti) dei crediti formativi ricondotti al triennio 2011-2013 acquisibili mediante reclutamento diretto') }}
            {{ form_errors(form.dichiara_informato_dal_provider) }}
            {{ form_widget(form.dichiara_informato_dal_provider) }}
        </div>
        
        <BR>
        Informativa ai sensi del D. Lgs. 30 giugno 2003, n. 196.
        <textarea name="textarea2" cols="100" style="width: 700px" rows="5" wrap="VIRTUAL" readonly>
 AIM GROUP INTERNATIONAL -  AIM Education Srl, in qualità di Titolare del trattamento, La informa che i dati personali da Lei forniti ovvero acquisiti da terzi, sono trattati per finalità connesse all’esecuzione degli adempimenti relativi alla Sua partecipazione all’evento, nonché per l’invio 
gratuito di documentazione relativa ad altre sue iniziative o di altre società del gruppo AIM nell’ambito ECM.
I trattamenti sono effettuati mediante elaborazioni manuali o strumenti elettronici o automatizzati, in modo da garantire la riservatezza e la sicurezza dei dati personali.  Il Titolare del trattamento può avvalersi di altre società del gruppo e/o di altri soggetti quali associazioni scientifiche, 
enti pubblici o privati preposti alle attività formative ECM,  sempre in relazione all’espletamento delle attività relative alla formazione.
Il conferimento dei Suoi dati personali è facoltativo ma in difetto Le sarà preclusa la partecipazione all’evento.  
Lei potrà esercitare i diritti di cui all’articolo 7 del D. Lgs. n. 196 del 2003 e di opporsi sia al trattamento dei Suoi dati personali, ancorché pertinenti allo scopo della raccolta, sia al trattamento degli stessi ai fini di invio di materiale pubblicitario, di vendita diretta o di ricerche di mercato, inoltrando 
apposita istanza a: AIM GROUP INTERNATIONAL -  AIM Education Srl - Via G. Ripamonti, 129  20141  Milano.
Per il consenso ai trattamenti e alle comunicazioni descritte nell’informativa.</textarea>
        <div>
            {{ form_label(form.privacy, 'Accetto si/no') }}
            {{ form_errors(form.privacy) }}
            {{ form_widget(form.privacy) }}
        </div>
        
   
        {{ form_rest(form) }}
        
    <p>
        <button type="submit">Continua</button>
    </p>
</form>


    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" media="all"/>
<script type="text/javascript">
(function($) {
$(document).ready(function(){
   $( "#accreditamenti_congressibundle_anagraficatype_data_nascita" ).datepicker({
    dateFormat: 'dd-mm-yy',
    changeMonth: 'true',
    changeYear: 'true',
    yearRange: "-80:+0",
    monthNamesShort: ['Gen','Feb','Mar','Apr','Mag','Giu','Lug','Ago','Set','Ott','Nov','Dic'],
    dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],	
    dayNamesMin: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
    constrainInput:'false',
    showAnim: 'slideDown',
    firstDay:1
});
   
});
})(jQuery);

$.datepicker.setDefaults($.datepicker.regional[it]);

</script>

{% endblock %}









