{% extends '::frontEnd/base.html.twig' %}

{% block body %}

<b>Step 3 di 3</b>
<table>
    <tr>
        <td><img src="http://modulisticaecm.it/resource/img/1on.png" width="35"></td>
        <td><img src="http://modulisticaecm.it/resource/img/2on.png" width="35"></td>
        <td><img src="http://modulisticaecm.it/resource/img/3on.png" width="35"></td>
    </tr>
</table>

<h2>Compila il questionario di valutazione</h2>
<br>

<form action="{{ path('valutazione_save', {'accreditamento_id': accreditamento_id,'anagrafica_id': anagrafica_id}) }}" method="post">
    {# form_widget(form) #}

        <div style="width: 450px;">
            {{ form_label(form.rilevanza_degli_argomenti,'1) Come valuta la rilevanza degli argomenti trattati rispetto alla sua necessità di aggiornamento?') }}
            {{ form_errors(form.rilevanza_degli_argomenti) }}
            {{ form_widget(form.rilevanza_degli_argomenti) }}
            </div>        

        
            <div>
            {{ form_label(form.qualita_educativa,'2) Come valuta la qualità educativa/di aggiornamento fornita da questo evento?') }}
            {{ form_errors(form.qualita_educativa) }}
            {{ form_widget(form.qualita_educativa) }}
                </div>   


                <div>
            {{ form_label(form.utilita_evento,'3) Come valuta la utilità dell\'evento per la sua formazione/aggiornamento?') }}
            {{ form_errors(form.utilita_evento) }}
            {{ form_widget(form.utilita_evento) }}
                    </div>  




                    <div>
            {{ form_label(form.influenza_sponsor,'4) Questo evento è  stato realizzato con il supporto di  '~  accreditamento.SupportoAziendeSponsor  ~'.') }}
                        Ritiene che nel programma ci siano riferimenti, indicazioni e/o informazioni non equilibrate o non corrette per INFLUENZA DELLO SPONSOR o altri interessi commerciali?<br  >
            {{ form_errors(form.influenza_sponsor) }}
            {{ form_widget(form.influenza_sponsor) }}
                        </div> 

                <div>
            {{ form_label(form.esempio_influenza_sponsor,'* In caso di risposte “sì” o “molto e rilevanti” si prega di indicare qualche esempio
') }}
            {{ form_errors(form.esempio_influenza_sponsor) }}
            {{ form_widget(form.esempio_influenza_sponsor) }}
                    </div>  


                       
        
        <p>
                          <button type="submit">Termina</button>
                        </p>
                    </form>

<p><br>
        Se lo ritiene opportuno potrà inviare copia di questa scheda, con particolare riferimento al punto 4, oltre che al Provider, anche a:  ecmfeedback@agenas.it
<br><br>

<a href="javascript:window.print()">Stampa la pagina</a>
</p> 

{%endblock%}