{% extends '::backEnd/base.html.twig' %}



{% block body %}

<form action="{{ path('operazioni_utente', {'accreditamento_id': accreditamento_id, 'vista': vista }) }}" name="modulo" method="post">

    <table  style="width: 350px; border: 0px solid red;height: 20px;" >
        <tr><td style="vertical-align: text-top;"><button class="btn" type="submit">Abilita</button>
        </td>
        <td style="vertical-align: text-top; margin: 70px;">
            <select style="margin: 20px" name="vista" onchange="javascript:document.modulo.submit()" >
            <option value="3" >- - - - - - - - - - - - - - - </option>
            <option value="1" {% if vista == 1 %} selected="selected" {% endif %} >Hanno superato il test</option>
            <option value="0" {% if vista == 0 %} selected="selected" {% endif %} >Non Hanno superato il test</option>
            <option value="2" {% if vista == 2 %} selected="selected" {% endif %} >Abilitati alla stampa</option>
        </select></td></tr>
    </table>


    <h2>Elenco Utenti</h2>  

    <table class="table"  style="font-size: 12px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Codice Fiscale</th>
                <th>Status</th>
                <th style="width: 50px;">stampa</th>
                <th style="font-size: 9px;width: 10px; text-align: center"><br><input type="checkbox" id="selezionaTutto" onclick="seleziona(this.form)"></th>

            </tr>
        </thead>

        <tbody>
{% set coloreriga ="" %}
{% set contatore = 0 %}
                
                
                
{% for entity in entities %}
                
            {% if entity.abilitaStampa==1 %}    
                    {% set coloreriga ="class=abilitati_stampa" %}
              {% else %}
                    {% if entity.id in utenti_abilitati %}
                        {% set quiz = 'ok' %}
                         {% set coloreriga = "class=quiz_superato"%}
                    {% else %}
                        {% set quiz = 'ok' %}

                        {% set coloreriga = "class=quiz_non_superato"%}
                    {% endif %} 
             {% endif %}         
                
                
                
                
    <!--  solo utenti che hanno superato ecm -->      
   {% if vista == 1 %}
             {% if entity.id in utenti_abilitati %}
                 {% set contatore=1 %}
    
                    <tr {{ coloreriga }}>
                         <td>{{ entity.id }}</td>
                          <td>{{ entity.cognome }}</td>
                          <td>{{ entity.nome }}</td>
                          <td>{{ entity.codiceFiscale }}</td>
                          <td>Test superato</td>
                         {% if entity.abilitaStampa==0 %}
                            <td>non abilitato </td>
                        {% else %}
                            <td>abilitato</td>
                        {% endif %}
                          <td>
                          <input type="checkbox" name="anagrafica[]" value="{{ entity.id }}">
                          </td>

                 </tr>
            {% endif %} 
   <!-- Solo utenti abilitati alla stampa -->
   {% elseif vista == 2 %}             
                {% if entity.abilitaStampa==1 %}    
                        <tr {{ coloreriga }}>

                         <td>{{ entity.id }}</td>
                          <td>{{ entity.cognome }}</td>
                          <td>{{ entity.nome }}</td>
                          <td>{{ entity.codiceFiscale }}</td>
                            <td>Test superato</td>
                          {% if entity.abilitaStampa==0 %}   
                              <td>non abilitato </td>
                          {% else %}       
                               <td>abilitato</td>
                          {% endif %}


                            <td>
                                <input type="checkbox" name="anagrafica[]" value="{{ entity.id }}">
                            </td>



                        </tr>
                {% endif %}
     {% elseif vista == 0 %}             
                 {% if entity.id not in utenti_abilitati %}
                        <tr {{ coloreriga }}>
                         <td>{{ entity.id }}</td>
                          <td>{{ entity.cognome }}</td>
                          <td>{{ entity.nome }}</td>
                          <td>{{ entity.codiceFiscale }}</td>
                            <td>Test NON superato</td>

                            {% if entity.abilitaStampa==0 %}
                                <td>non abilitato </td>
                            {% else %}
                                <td>abilitato</td>
                            {% endif %}

                            <td>
                                <input type="checkbox" name="anagrafica[]" value="{{ entity.id }}">
                            </td>

                        </tr>
                {% endif %}

   {% endif %}    

 {% endfor %}
 
                </tbody>
            </table>
{{ contatore }}
    
    
        </form>


        <script type="text/javascript">
            var selezionato=false;   
          function seleziona(f) {   
           if (selezionato == false){   
            selezionato = true;   
            }   
           else{   
           selezionato = false;   
           }// per ogni elemento della form si selezioniamo/deselezioniamo i checkbox   
           for (var i = 0; i < f.elements.length; i++)   
           {   
           f.elements[i].checked = selezionato;   
           }   
          }   
            </script>
{% endblock %}