{% extends '::frontEnd/base.html.twig' %}

{% block body %}

<br><br><br><br><br>
Benvenuto nell’area riservata alla verifica ECM del <strong>17° Convegno di <br>pediatria pratica “I 
    Pinguini”</strong> che si è svolto dal 9 al 10 novembre 2012 a <br>Firenze. <br><br>
  
Il test di verifica sarà attivo dal 19 novembre al 7 dicembre 2012.<br>  
È possibile effettuare il test una volta soltanto. Entro 90 giorni dalla fine del Congresso <br>riceverà 
una email che la informerà su come stampare il proprio attestato ECM. <br> <br>
Per cominciare la verifica la preghiamo di inserire il suo codice fiscale nell'apposito spazio di seguito. <br>
Accederà così alla sua pagina riservata dove dovrà compilare: 
<ul>
    <li>
la scheda anagrafica
    </li>
    <li>
il questionario ECM 
    </li>
    <li>
    la scheda di valutazione  
</li>
</ul>
<span style="color:#0064af;">
Per qualsiasi necessità o informazione, le ricordiamo che la segreteria organizzativa è a sua 
completa disposizione. Può scrivere a f.prayer@aimgroup.eu o chiamare il numero 055.2338823.
</span>


<br><br>
Grazie per la cortese attenzione. <br><br>
La Segreteria Organizzativa 
Aim Group International 



<br><br>
<b>Inserire il proprio codice fiscale (senza spazi)</b>
<form action="{{ path('login_iscritto',{'accreditamento_id':id}) }}" method="post" {{ form_enctype(form) }}>

{# form_widget(form) #}

     {{ form_errors(form) }}

        <div>
            {{ form_label(form.codice_fiscale,'') }}
            {{ form_errors(form.codice_fiscale) }}
            {{ form_widget(form.codice_fiscale) }}
        </div>    
    
            {{ form_rest(form) }}
    
    
    
    
    <input type="submit"  value="Accedi"/>
</form>

{% endblock %}