{% extends '::frontEnd/base.html.twig' %}

{% block body %}

<br><br><br>

    Benvenuto nell'area Ecm del 18° CONGRESSO DI PEDIATRIA PRATICA - ("PINGUINI") - FIRENZE 8/9 NOVEMBRE 2013

 <br>
    <br>
    
    <strong>Il test di verifica sarà attivo dal 13 novembre al 13 dicembre 2013</strong>
    <br>  <br>



    Si ricorda che è possibile completare il questionario ECM una sola volta.

     <br>
   <br>
Per cominciare la verifica la preghiamo di inserire la password che le è stata consegnata in sede (insieme al badge) nell’apposito spazio qui di seguito.
    In caso di smarrimento è possibile contattare la segreteria a numero 055.2338827.<br>


Accederà così alla sua pagina riservata dove dovrà compilare:<br>
- la scheda anagrafica<br>
- il questionario ECM<br>
- la scheda di valutazione<br>

<br><br>






    I crediti formativi E.C.M. vengono attribuiti ai partecipanti all’evento sulla base dei seguenti requisiti, previsti dalla normativa ECM:<br>
    - presenza all’intera durata dell’evento<br>
    - superamento della verifica finale dell’apprendimento con almeno il 75% delle risposte corrette<br>
    - professioni/discipline accreditate<br>





 <br><br>
In seguito riceverà una e-mail che la informerà su come stampare l’attestato ECM.

    <br><br>

    Per visualizzare l'attestato E.C.M. occorre utilizzare Acrobat Reader prodotto da Adobe che è scaricabile e utilizzabile gratuitamente.
    <a href="http://get.adobe.com/it/reader/" target="_blank">Scarica Acrobat Reader </a>
<br>    <a href="http://get.adobe.com/it/reader/" target="_blank"><img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_reader.png"></a>
   
    <br><br>


    L'attestato così ottenuto è una scansione del documento originale, personalizzato e firmato dal
    rappresentante legale del Provider AIM Education. Il documento può essere stampato per averne una copia cartacea.

    <br><br>

    <!--
    <strong>E’ scaduto il termine per la compilazione on-line della modulistica ECM.</strong><br>
    I partecipanti che hanno compilato la modulistica riceveranno entro 90 giorni dalla fine del Congresso
    una email informativa su come stampare il proprio <strong>attestato ECM</strong>.<br><br><br>
    -->

<span style="color:#0064af;">
Per qualsiasi necessità o informazione, le ricordiamo che la segreteria organizzativa è a sua 
completa disposizione. Può scrivere a c.pizzo@aimgroup.eu o chiamare il numero 055.2338827.
</span>

<br><br>
Grazie per la cortese attenzione. <br><br>
La Segreteria Organizzativa 
Aim Group International 

<br><br>
<b>Inserire la propria password (senza spazi)</b>
<form action="{{ path('login_iscritto',{'accreditamento_id':id}) }}" method="post" {{ form_enctype(form) }}>

{# form_widget(form) #}

     {{ form_errors(form) }}

        <div>
            {{ form_label(form.codice_accesso,'') }}
            {{ form_errors(form.codice_accesso) }}
            {{ form_widget(form.codice_accesso) }}

        </div>    
    
            {{ form_rest(form) }}
    
    
    
    
    <input type="submit"  value="Accedi"/>
</form>

<style>

    #form_codice_accesso{
        width: 288px;
    }
</style>



{% endblock %}