{% extends '::frontEnd/base.html.twig' %}

{% block body %}

<br><br><br>
Benvenuto nell’area ECM del <strong>17° Convegno di <br>pediatria pratica “I Pinguini”</strong> che si è svolto dal 9 al 10
    novembre 2012 a Firenze. <br>
    <br>
   <strong>Inserisci il tuo codice fiscale per scaricare l’attestato E.C.M. del congresso.</strong>

    <br>
    <br>


    I crediti formativi E.C.M. vengono attribuiti ai partecipanti all’evento sulla base dei seguenti criteri, previsti dalla normativa ECM:<br>
    - presenza all’intera durata dell’evento<br>
    - superamento della verifica finale dell’apprendimento con almeno il 75% delle risposte corrette<br>
    - professione/disciplina pari ad una di quelle accreditate<br>



    <br><br>

    Per visualizzare l'attestato E.C.M. occorre utilizzare Acrobat Reader prodotto da Adobe che è scaricabile e utilizzabile gratuitamente.
    <a href="http://get.adobe.com/it/reader/" target="_blank">Scarica Acrobat Reader </a>
<br>    <a href="http://get.adobe.com/it/reader/" target="_blank"><img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_reader.png"></a>
    <br><br>


    L'attestato così ottenuto è una scansione del documento originale, personalizzato e firmato dal
    rappresentante legale del Provider AIM Education. Il documento può essere stampato per averne una copia cartacea.

    <br><br>

    <!--
    <strong>E’ scaduto il termine per la compilazione on-line della modulistica ECM.</strong><br>
    I partecipanti che hanno compilato la modulistica riceveranno entro 90 giorni dalla fine del Congresso
    una email informativa su come stampare il proprio <strong>attestato ECM</strong>.<br><br><br>
    -->

<span style="color:#0064af;">
Per qualsiasi necessità o informazione, le ricordiamo che la segreteria organizzativa è a sua 
completa disposizione. Può scrivere a f.prayer@aimgroup.eu o chiamare il numero 055.2338823.
</span>

<br><br>
Grazie per la cortese attenzione. <br><br>
La Segreteria Organizzativa 
Aim Group International 

<br><br>
<b>Inserire il proprio codice fiscale (senza spazi)</b>
<form action="{{ path('login_iscritto',{'accreditamento_id':id}) }}" method="post" {{ form_enctype(form) }}>

{# form_widget(form) #}

     {{ form_errors(form) }}

        <div>
            {{ form_label(form.codice_fiscale,'') }}
            {{ form_errors(form.codice_fiscale) }}
            {{ form_widget(form.codice_fiscale) }}
        </div>    
    
            {{ form_rest(form) }}
    
    
    
    
    <input type="submit"  value="Accedi"/>
</form>





{% endblock %}