{% extends '::base.html.twig' %}

{% block body %}

    <h1>Accreditamento list</h1>
    
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Accreditamento</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <h2>{{ entity.titolo }}</h2>
                    <span class="icon-book"></span> <a href="{{ path('accreditamento_show', { 'id': entity.id }) }}">{{ entity.numeroaccreditamento }}</a><br />
                    <span class="icon-road"></span> {{ entity.luogo }}<br />
                    {% if entity.datainizio %}<span class="icon-calendar"></span> {{ entity.datainizio|date('Y-m-d H:i:s') }}{% endif %}<br />
                    {% if entity.datafine %}<span class="icon-calendar"></span> {{ entity.datafine|date('Y-m-d H:i:s') }}{% endif %}<br />
                </td>
                <td>
                    <strong>Obiettivo formativo:</strong> {{ entity.obiettivoformativo }}<br />
                    <strong>Ore formative:</strong> {{ entity.oreformative }}<br />
                    <strong>Numero crediti:</strong> {{ entity.numerocrediti }}<br />
                </td>
                <td>
                    <a href="{{ path('accreditamento_show', { 'id': entity.id }) }}"><span class="icon-eye-open"></span></a><br />
                    <a href="{{ path('accreditamento_edit', { 'id': entity.id }) }}"><span class="icon-edit"></span></a><br />
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}