{% extends '::base.html.twig' %}

{% block body %}
<h1>Congresso modifica</h1>
<img src="/resource/img/{{ entity.id }}/{{ entity.manifesto }}" width="200" style="border:1px solid #333333;">


<a href="{{ path('congresso_delete_manifesto', { 'id': entity.id }) }}">Cancella manifesto</a>


<form action="{{ path('congresso_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('congresso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('congresso_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}