{% extends '::base.html.twig' %}

{% block body %}

<h2>Pagina elenco congressi</h2>

    {% for congresso in congressi %}

     {#<a href="{{ path('accreditamenti_congresso', { 'id': congresso.id }) }}" id="link_accreditamenti_congresso">#}
<a href="{{ path('accreditamenti_congresso', { 'id': congresso.id }) }}" id="link_accreditamenti_congresso{{congresso.id}}">
{{ congresso.titolo }}
    </a>
    <BR>
        {{ congresso.descrizione }}
    <hr/>

    {% endfor %}
{% endblock %}