{% extends '::backEnd/base.html.twig' %}

{% block sidebar %}
<div class="well">
    Tot congressi: {{ entities|length }}
</div>
{% endblock %}

{% block body %}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <a href="{{ path('congresso_new') }}">
                        <span class="icon-plus-sign icon-white"></span> Crea congresso
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<h1>Elenco dei congressi</h1>

    {% if entities|length == 0 %}

<em>Non ci sono congressi</em>

    {% else %}

<table class="table-bordered table-condensed table-striped table">
    <thead>
        <tr>
            <th>Congresso</th>
            <th>Data_inizio</th>
            <th>Data_fine</th>
            <th>Info</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
      
        
            {% for entity in entities %}
                <tr>
                    <td>
                      
                            
                        <strong>{{ entity.titolo }}</strong><br />
                         <em>{{ entity.descrizione }}</em><br />
                              <span class="icon-road"></span> {{ entity.luogo }}<br />
                        
                       
                        {% if entity.email_referente %}
                            <span class="icon-envelope"></span> {{ entity.email_referente }}<br />
                        {% endif %}
                        <span class="icon-bookmark"></span> <a href="{{ path('congresso_show', { 'id': entity.id }) }}">{{ entity.codice_congresso }}</a>
                       
                    </td>
                    
                    <td>{% if entity.data_inizio %}{{ entity.data_inizio|date('d/m/Y') }}{% endif %}</td>
                    <td>{% if entity.data_fine %}{{ entity.data_fine|date('d/m/Y') }}{% endif %}</td>
                    <td>
                    
                      
                        {% if entity.abilitato %}
                            <span class="icon-check"></span> abilitato<br />
                        {% endif %} 
                    </td>
                    <td><a href="{{ path('congresso_edit', {'id': entity.id}) }}" class="icon-edit"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}